job-portal-api/*.log
job-portal-api/.DS_Store
job-portal-api/.env
job-portal-api/.env.backup
job-portal-api/.env.production
job-portal-api/.phpactor.json
job-portal-api/.phpunit.result.cache
job-portal-api/.codex
job-portal-api/.cursor/
job-portal-api/.idea
job-portal-api/.nova
job-portal-api/.phpunit.cache
job-portal-api/.vscode
job-portal-api/.zed
job-portal-api/auth.json
job-portal-api/node_modules
job-portal-api/public/build
job-portal-api/public/fonts-manifest.dev.json
job-portal-api/public/hot
job-portal-api/public/storage
job-portal-api/storage/*.key
job-portal-api/storage/pail
job-portal-api/vendor
job-portal-api/_ide_helper.php
job-portal-api/Homestead.json
job-portal-api/Homestead.yaml
job-portal-api/Thumbs.db

# Logs
job-portal-web/logs
job-portal-web/*.log
job-portal-web/npm-debug.log*
job-portal-web/yarn-debug.log*
job-portal-web/yarn-error.log*
job-portal-web/pnpm-debug.log*
job-portal-web/lerna-debug.log*

job-portal-web/node_modules
job-portal-web/dist
job-portal-web/dist-ssr
job-portal-web/*.local

# Editor directories and files
job-portal-web/.vscode/*
job-portal-web/!.vscode/extensions.json
job-portal-web/.idea
job-portal-web/.DS_Store
job-portal-web/*.suo
job-portal-web/*.ntvs*
job-portal-web/*.njsproj
job-portal-web/*.sln
job-portal-web/*.sw?