job-portal-api/*.log
job-portal-api/.DS_Store
job-portal-api/.env
job-portal-api/.env.backup
job-portal-api/.env.production
job-portal-api/.phpactor.json
job-portal-api/.phpunit.result.cache
job-portal-api/.codex
job-portal-api/.cursor/
job-portal-api/.idea
job-portal-api/.nova
job-portal-api/.phpunit.cache
job-portal-api/.vscode
job-portal-api/.zed
job-portal-api/auth.json
job-portal-api/node_modules
job-portal-api/public/build
job-portal-api/public/fonts-manifest.dev.json
job-portal-api/public/hot
job-portal-api/public/storage
job-portal-api/storage/*.key
job-portal-api/storage/pail
job-portal-api/vendor
job-portal-api/_ide_helper.php
job-portal-api/Homestead.json
job-portal-api/Homestead.yaml
job-portal-api/Thumbs.db